.header {  
  min-height: 60px;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;

}

.alignment {
  display: flex;
  justify-content: flex-end;
}

